# Dependencias
node_modules/

# Resultados de compilación
_site/

# Archivos de sistema y configuraciones locales
.DS_Store
.sass-cache/
.jekyll-metadata
.netlify
.env
.cache/

# Logs y archivos de debug
*.log
npm-debug.log*

# Archivos de certificados y llaves (¡Muy importante por seguridad!)
*.key
*.crt
*.p7b
ssl*

# Otros

localStorage
builtserver.js
functions

Plaintext
*.webp
