---
layout: default
title:  Rutas de los andes | Marca de ropa de senderismo y blog de viaje
excerpt: Rutas de los andes es un pagina con contenido y productos pensado para esos amantes de la naturaleza.
---

<section class="blog-intro">
  <h1 class="blog-intro__title">Gracias por leer nuestro blog 🥾</h1>
  <p>
    Este blog nació de la colaboración de viajeros como tú. Lo que queremos es
    ayudar a más viajeros a disfrutar de estos entornos naturales, brindándote
    la información necesaria para que tu próxima aventura sea mucho más fácil.
  </p>
</section>

<div class="articles">
{% for ruta in collections.blog %}
              <a class="article-link" href="{{ ruta.url }}">
                  <div class="article">
                    <div class="scrim-top"></div>
                    <div class="scrim-bottom"></div>
                    <h3 class="article-title">{{ ruta.data.title }}</h3>
                    <h4 class="article-subtitle">Por , Jun 28</h4>
                    <img
                      width="581"
                      height="304"
                      src="{{ ruta.data.images_url }}/featured.jpg"
                      alt="{{ ruta.data.title | escape }}"
                      loading="lazy"
                      decoding="async">
                  </div>
              </a>
{% endfor %}
</div>

{% include recommend-inline.html %}
