{% if type == 'search' %}
  {% capture map_url %}
    https://www.google.com/maps/embed/v1/place?key={{site.googlemaps_key}}&q={{querie}}&maptype=satellite&zoom={{zoom | default: "9"}}
  {% endcapture %}
{% elsif type == 'youtube' %}
  {% capture map_url %}
    https://www.google.com/maps/embed/v1/directions?key={{site.googlemaps_key}}&origin={{origin}}&destination={{destination}}&mode={{mode | default: "driving"}}&maptype=satellite&zoom={{zoom | default: "12"}}
  {% endcapture %}
{% else %}
   {% capture map_url %}
    https://www.google.com/maps/d/embed?mid={{mid}}
  {% endcapture %}
{% endif %}

<figure class="op-interactive">
  <iframe width="{{ width | default: 200 }}" height="{{ height | default: 200 }}" sandbox="allow-scripts allow-same-origin allow-popups" frameborder="0" scrolling="no" class="rda-embed no-margin" src="{{ map_url }}" loading="lazy" allowfullscreen>
  </iframe>
  <figcaption>{{ caption }}</figcaption>
</figure>
