<figure {% if fullscreen %} data-mode="fullscreen" {% endif %}>
  <amp-img
    {%
    if
    absolute
    %}
    src="{{file}}"
    {%
    else
    %}
    src="/images/{{ file }}"
    {%
    endif
    %}
    {%
    if
    fullscreen
    %}
    data-mode="fullscreen"
    {%
    endif
    %}
    layout="responsive"
    alt="{{ caption }}"
    width="{{ width | default: 1028 }}px"
    height="{{ height | default: 771 }}px"
  >
  </amp-img>
  {% if caption %}
  <figcaption {% if fullscreen %} class="op-extra-large" {% endif %}>
    {{ caption }}
  </figcaption>
  {% endif %}
</figure>
