<div class="alert alert-info">
    <b> informacion </b>
    si quieres seguir la ruta en tu celular descargar la app viewranger la cual esta disponible en
     <a target="_blank" href="https://itunes.apple.com/us/app/viewranger-cycling-hiking-trails-topo-maps/id404581674?mt=8">IOS</a> y 
     <a target="_blank" href="https://play.google.com/store/apps/details?id=com.augmentra.viewranger.android&hl=es"> Android</a>,
     si ya tienes la app <a target="_blank" href="https://play.google.com/store/apps/details?id=com.augmentra.viewranger.android&hl=es"> click </a>
</div>