{% capture srcdoc %}
        <style>
            body{
                margin: 0;
            }
            .alert-info{
                color: #31708f;
                background-color: #d9edf7;
                border-color: #bce8f1;
                padding: 5px;
                border: 1px solid transparent;
                border-radius: 4px;
                font-size:16px;
                font-family: sans-serif;
                font-weight: 300;
            }     
            @media (min-width: 600px) {
                .alert-info {
                    padding: 10px;
                    margin-bottom: 20px;
                    font-size: 18px;
                }
            }
        </style>
        <div class="alert alert-info">
                    <b> Todas nuestras rutas son grabadas usando la aplicacion Viewranger para senderismo</b>
                    <br>
                    si quieres seguir la ruta en tu celular descargar la app viewranger la cual esta disponible en
                    <a target="_blank" href="https://itunes.apple.com/us/app/viewranger-cycling-hiking-trails-topo-maps/id404581674?mt=8">IOS</a> y 
                    <a target="_blank" href="https://play.google.com/store/apps/details?id=com.augmentra.viewranger.android&hl=es"> Android</a>,
                    si ya tienes la app solo <b><a target="_blank" href="{{include.url}}">descarga esta ruta</a></b>
        </div>
{% endcapture %}
<figure class="op-interactive">
    <amp-iframe 
    sandbox="allow-scripts  allow-popups"
    srcdoc='{{ srcdoc }}'
    layout="fixed-height"
    height="190">
    </amp-iframe>
</figure>
