{% assign share_url = page.url | replace:'index.html','' | remove: '/amp' | absolute_url %}
{% assign share_title = seo_title | default: title | default: page.title %}
<div class="flex flex-wrap gap-2 my-4" aria-label="Compartir">
  <button
    class="rda-button rda-button--outline"
    type="button"
    data-native-share
    data-share-title="{{ share_title | escape }}"
    data-share-url="{{ share_url }}"
  >
    Compartir
  </button>
  <a class="rda-button rda-button--outline" target="_blank" rel="noopener" href="https://twitter.com/intent/tweet?url={{ share_url }}">
    Twitter
  </a>
  <a class="rda-button rda-button--outline" target="_blank" rel="noopener" href="https://api.whatsapp.com/send?text={{ share_url }}">
    WhatsApp
  </a>
  <a class="rda-button rda-button--outline" target="_blank" rel="noopener" href="https://www.facebook.com/sharer/sharer.php?u={{ share_url }}">
    Facebook
  </a>
</div>
