
    /** Reset some basic elements */
    body,
    figure {
      margin: 0;
      padding: 0;
    }
    /** Basic styling */
    body {
      font-family: Montserrat,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,Arial,sans-serif;
      color:#4a4a4a;
      line-height: normal;
      background-color: #fdfdfd;
      -webkit-text-size-adjust: 100%;
      -webkit-font-feature-settings: "kern" 1;
      -moz-font-feature-settings: "kern" 1;
      -o-font-feature-settings: "kern" 1;
      font-feature-settings: "kern" 1;
      font-kerning: normal;
    }
    * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    #root{
      padding-bottom:59px;
    }
    /** Images */
    img {
      max-width: 100%;
      vertical-align: middle;
    }
    .close {
      float: right;
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 1;
      color: #000;
      text-shadow: 0 1px 0 #fff;
      opacity: .5;
      border: 0;
      cursor: pointer;
    } 
    .advise{
    font-size: 11px;
    font-style: italic;
    font-weight: bold;
    margin-top: auto;
    }
    figcaption {
      font-size: 13px;
      text-align: center;
      font-family: sans-serif;
      font-style: italic;
    }
    a {
      text-decoration: none;
    }
    .page-content a{
      text-decoration: underline;
      color: #000;
      font-weight: bold;
    }
    /** Wrapper */
    .wrapper {
      max-width: -webkit-calc(768px - (20px));
      max-width: calc(768px - (20px));
      margin-right: auto;
      margin-left: auto;
      padding-right: 10px;
      padding-left: 10px;
    }
    /** Clearfix */
    .wrapper:after,
    .footer-col-wrapper:after {
      content: "";
      display: table;
      clear: both;
    }
    div.header-wrapper{
      padding-top:0;
      margin:0 auto;
      display:flex;
      justify-content: space-between;
    }
    
    /* Footer*/
    .wrapFoter{
      width: 100%;
      background-color: #000;
      padding-top: 20px;
      padding-bottom: 90px
  
    }
    .footer{
      width: 100%;
      color: white;
      padding: 10px;
      font-size: 12px;
      margin: auto;
      justify-content: space-around;
    }
    .contacto h3, .politicas h3, .pagos h3 {
      padding-bottom: 10px;
    }
    .footer h3, .footer ul , .footer p{
      margin: 5px 0px;
    }
    .footer ul {
      list-style:none;
      padding-left: 0px;
    }
    .politicas {
      border-bottom: 1px solid white;
      border-top: 1px solid white;
    }
    .li-contacto li, .li-pagos li, .li-politicas li {
      margin: 5px 0px;
    }
    .li-politicas li a {
      color: white;
      text-decoration: none;
    }
    .li-politicas li a:hover{
      color: gray;
    }



    /* edit car*/
    .wrap-cart{
      position: relative;
      height: auto;
      margin-top: 7px;
      margin-bottom: 5px;
      cursor: pointer;
      display: block;
      text-align: center;
    }
    .productQ{
      position: absolute;
      z-index: 100;
      left: 20px;
      top: 20px;
    }
    .productQ span {
      color: white;
      background-color: #C70039;
      padding: 2px;
      font-weight: bold;
      font-size: 13px;
    }
    .buy{
      width: 100%;
      height: 50px;
      color: #ffffff;
      border: 1px solid #000000;
      text-transform: uppercase;
      letter-spacing: .2em;
      font-family: inherit;
      font-weight: 500;
      font-size: 1rem;
      line-height: 1.125rem;
      padding: .7em .8em;
      text-decoration: none;
      white-space: nowrap;
      word-wrap: normal;
      vertical-align: middle;
      cursor: pointer;
      background-color: #000;
      margin-top: 2px;
    }
    .cartBuy{
      color: white;
      display: inline-block;
      background-color: #ffffff;
      border: 2px solid #000000;
      text-align: center;
      width: 100%;
    }
    a.buy.cartBuy {
      text-decoration: none;
      color: black;
    }
    .cartBuy:hover{
      background-color: black;
    }
    a.buy.cartBuy:hover{
     color: white;
    }
    .edit-cart {
      background-color: white;
      position: fixed;
      width: 100%;
      height: auto;
      top: 57px;
      right: 0px;
    }
    .wrap-shoppingCart{
      padding: 10px;
      border: 1px solid rgba(0,0,0,.2);
    }
    .table {
      display:table;
      width:100%;
      margin-bottom: 5px;
    }
    .headerRows{
      text-align: center;
      font-weight: 800;
    }
    .row {
      display:table-row;
    }
    .cell {
      display:table-cell;
    }
    .caption {
      display:table-caption;
      caption-side:bottom;
    }
    .cart-item-quantity{
      text-align: center;
    }
    .cart-item-add, .cart-item-remove, .cart-item-clear{
      font-size: 15px;
      font-weight: 700;
      text-align: center;
      padding: 10px;
      cursor: pointer;
    }

    /* unifing sidebar styles :) */
    amp-sidebar{
      width: 220px;
      padding: 0 15px;
    }
    .side-bar{
      position: fixed;
      top: 0;
      right: 0;
      max-height: 100vh;
      height: 100vh;
      max-width: 80vw;
      background-color: #efefef;
      min-width: 45px;
      outline: none;
      overflow-x: hidden;
      overflow-y: auto;
      -webkit-overflow-scrolling: touch;
      will-change: transform;
      -webkit-transition: -webkit-transform 233ms cubic-bezier(0,0,.21,1);
      transition: -webkit-transform 233ms cubic-bezier(0,0,.21,1);
      transition: transform 233ms cubic-bezier(0,0,.21,1);
      transition: transform 233ms cubic-bezier(0,0,.21,1),-webkit-transform 233ms cubic-bezier(0,0,.21,1);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
      width: 220px;
      padding:0 15px;
      opacity: 0;
    }
    .side-bar[open] {
      opacity: 1;
      z-index: 2147483647;
      display: block;
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
    .side-bar .main-menu, amp-sidebar .main-menu{
      list-style: none;
      font-size: 15px;
      padding-left: 0;
      text-align: left;
      line-height: 1.15em;
      margin-top: 45px;
    }
    .main-menu a {
      color: black;
      padding: 12px 0;
      display: block;
      border-bottom: solid 0.1px #9c9c9c;
    }
    .main-menu li:first-child a{
      border-top: solid 0.1px #9c9c9c;
    }
    .amp-close-image,.side-bar__close {
      top: 20px;
      left: 0;
      width: 20px;
      height: 20px;
      overflow:hidden;
      cursor: pointer;
      display: inline-block;
      position: relative;
      background: none;
      border: none;
      color: inherit;
      font: inherit;
      line-height: normal;
      overflow: visible;
      padding: 0;
    }
    
    .amp-close-image:hover,.side-bar__close:hover{
    border-bottom: 1px solid black;
    }
    .main-menu li a:hover{
      color: black;
      font-weight: 500;
      border-bottom: solid 1px #000000;
    }
    .site_social li:hover{
     border-bottom: 1px solid black;
    }

  .fill-content {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      display: block;
      height: 0;
      max-height: 100%;
      max-width: 100%;
      min-height: 100%;
      min-width: 100%;
      width: 0;
      margin: auto;
  }
    .messegeus{
      align-items: center;
      font-size: 14.5px;
      font-family: Helvetica, Arial, sans-serif;
      text-decoration: none;
      color: #fff;
      background-color: #0084ff;
      border: 1px solid #0084ff;
      width: 100%;
      height: 50px;
      display: flex;
      border-radius: 3px;
      outline: none;
      justify-content: space-around;
      margin: auto;
    }
    .messegeus i{
      background-image: url(https://i.imgur.com/hjwozo7.png);
      background-repeat: no-repeat;
      background-size: contain;
      width: 18px;
      height: 18px;
    }
    .side-bar__mask{
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        opacity: 0.2;
        background-image: none;
        background-color: #000;
        z-index: 2147483646;
    }
    .site_social{
        list-style: none;
        display: flex;
        position: absolute;
        top: 0;
        right: 0;
        padding:0;
        justify-content: center;
    }
    .site_social a{
      padding: 0 3px;
    }
    .push-widget .site_social{
      position:static;
    }
    /** Icons */
    .icon>svg {
      display: inline-block;
      vertical-align: middle;
    }
    .icon>svg path {
      fill: #828282;
    }
    .social-media-list .icon {
      padding-right: 5px;
    }
    .social-media-list li+li {
      padding-top: 5px;
    }
    /** Site header */
    .site-header {
      background-color: white;
      border-bottom: 1px solid #424242;
      min-height: 55.95px;
      position: relative;
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 20000;
    }
    /* when inside amp shadow don't display the header */
    .amp-shadow .site-header {
      display: none;
    }
    .site-title {
      float: left;
    }
    .site-title,
    .site-title:visited {
      color: #424242;
    }
    .site-nav {
      float: right;
      line-height: 54px;
    }
    .site-nav .nav-trigger {
      display: none;
    }
    .site-nav .menu-icon {
      display: none;
    }
    .site-nav .page-link {
      color: #111;
      line-height: 1.5;
    }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px;
    }
    /** Site footer */
    .page-heading {
      font-size: 20px;
      text-align: center;
      font-weight: bold;
    }
    .post-list {
      margin-left: 0;
      list-style: none;
    }
    .post-list>li {
      margin-bottom: 30px;
    }
    .post-meta {
      display: flex;
      font-size: 14px;
      color: #828282;
      margin-top: 12px;
    }
    .post-link {
      display: block;
      font-size: 24px;
    }
    /** Posts */
    .post-header {
      margin-bottom: 10px;
    }
    .post-title {
      margin: 8px 0px;
      position: absolute;
      font-size: 22px;
      font-weight: 500;
      letter-spacing: -1px;
      line-height: 1;
      color: white;
      bottom: 0;
      padding: 0px 5px 2px 15px;
      z-index: 10000;
    }
    .post-content {
      margin-bottom: 30px;
      font-size: 15px;
    }
    .post-content h1 {
      font-size: 22px;
    }
    .post-content h2 {
      font-size: 20px;
    }
    .post-content h3 {
      font-size: 18px;
    }
    .post-content h4 {
      font-size: 16px;
    }
    .post-home_link {
      color: black;
    }
    .post-home_description {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .post-home_excerpt {
      text-decoration: none;
      color: black;
      flex-basis: 50%;
      font-size: 14px;
    }
    .post-home_thumbnail {
      flex-basis: 50%;
    }
    .post-improve {
      text-align: right;
    }
    iframe {
      margin: 0 auto;
    }
    .author_avatar {
      position: relative;
      margin-right: 15px;
    }
    .author_name {
      color: black;
      font-family: fantasy;
      font-size: 17px;
    }
    .author_description {
      font-size: 12px;
    }
    .author_avatar-img {
      width: 70px;
      height: 70px;
      vertical-align: middle;
      border-radius: 100%;
    }
    .author_published-date {
      font-size: 10px;
    }
    .author_avatar-svg {
      position: absolute;
      top: -6px;
      left: -6px;
      width: calc(100% + 12px);
      height: calc(100% + 12px);
    }
    .green {
      fill: green;
      color: green;
    }
   .blue {
      fill: blue;
      color: blue;
    }
    .purple {
      fill: #9C27B0;
      color: #9C27B0;
    }
    .red {
      fill: Red;
      color: red;
    }
    .author_twitter {
      display: inline-block;
      margin: 0 2px;
      height: 25px;
    }
    .author_facebook {
      display: inline-block;
      margin: 0 2px;
      height: 25px;
    }
    .tags {
      color: #999;
      list-style: none;
      margin: 0;
      overflow: hidden;
      padding: 0;
      margin-bottom: 5px;
    }
    .tags li {
      float: left;
    }
    .tag {
      background: black;
      border-radius: 3px 0 0 3px;
      color: #999;
      display: inline-block;
      height: 22px;
      line-height: 22px;
      padding: 0 17px 0 23px;
      position: relative;
      margin: 2px;
      text-decoration: none;
      -webkit-transition: color 0.2s;
      font-size: 13px;
    }
    a.tag{
      color:white;
      text-decoration:none;
    }
    .tag::before {
      background: #fff;
      border-radius: 10px;
      box-shadow: inset 0 1px rgba(0, 0, 0, 0.25);
      content: '';
      height: 6px;
      left: 10px;
      position: absolute;
      width: 6px;
      top: 9px;
    }
    .tag::after {
      background: #fff;
      border-bottom: 11px solid transparent;
      border-left: 13px solid black;
      border-top: 11px solid transparent;
      content: '';
      position: absolute;
      right: 0;
      top: 0;
    }
    .tag:hover {
      background-color: gray;
      color: white;
    }
    .tag:hover::after {
      border-left-color: gray;
    }
    .tag_container {
      display: flex;
      flex-wrap: wrap;
      margin-bottom:15px;
    }
    .tag_post {
      flex-basis: 50%;
      flex-grow: 1;
    }
    .article_featured-image{
      position: relative;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .parallax-image-window {
      overflow: hidden;
    }
    .parallax-image-window amp-img {
      margin-bottom: -10%;
    }
    .menu-button{
      display: block;
      border-radius: 0;
      background-color: white;
      border:0;
    }
    .page-content {
        margin-right: auto;
        margin-left: auto;
        padding-top:57px;
    }
    .amp-shadow .page-content{
      padding-top:0;
    }
    a:hover {
      text-decoration: none;
    }
    a:visited {
      color: inherit
    }
    a:active {
      color: inherit
    }
    .warning {
      padding: 7px 9px;
      background-color: #fcf8e3;
      border-color: #faebcc;
      color: #8a6d3b;
      font-size: 17px;
      font-family: sans-serif;
      font-size:17px;
      margin: 10px 0;
    }
    .alert-title{
      font-size: 25px;
    }
    .alert-info{
        color: #31708f;
        background-color: #d9edf7;
        border-color: #bce8f1;
        padding: 7px 9px;
        border: 1px solid transparent;
        border-radius: 4px;
        font-size:17px;
        font-family: sans-serif;
        font-weight: 300;
    }    
    .alert-info a{
        color: #000015;
        font-weight: 300;
    }   
    .related-articles{
      list-style: none;
      padding: 0;
    }
    .related-title{
      padding:0 10px;
    }
    .post-content amp-carousel,.post-content amp-iframe,.post-content amp-img,.post-content amp-video {
      margin:0 -10px;
    }
    .site-footer{
      text-align: right;
    }
    .messegeus{
      align-items: center;
      font-size: 30px;
      font-family: Helvetica, Arial, sans-serif;
      text-decoration: none;
      color: #fff;
      background-color: #0084ff;
      border: 1px solid #0084ff;
      width: 100%;
      height: 50px;
      display: flex;
      border-radius: 3px;
      outline: none;
      justify-content: space-around;
      margin: auto;
   }
  .messegeus i{
    background-image: url(https://i.imgur.com/hjwozo7.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 28px;
    height: 28px;
  }
  /* react styles */
  .categories {
  text-align: center;
  font-family: 'Muli', sans-serif;
  text-transform: uppercase;
  color: #999;
}

.categories a {
  color: #999;
}

.categories a:hover{
  color: black;
  text-decoration: underline;
}

.categories ul {
  list-style-type: none;
  overflow: hidden;
  margin: 0 auto;
  padding: 20px;
}

.categories li {
  display: inline;
  padding: 20px;
}

.categories span {
  padding-bottom: 2px;
}

.active {
  border-bottom: solid 2px #37dc8c;
  color: black;
}
.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0;
    padding-right: 0;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
a:visited {
    color: inherit;
}
.contents {
  /** Prevents fixed-top navbar from overlapping site contents. */
  padding-top: 56px;
}
.header{
  position: fixed;
  top:0;
  left: 0;
  width:100%;
  z-index: 100000;
}
.main{
  padding-top: 57px;
  min-height: 600px;
}
a {
      text-decoration: none;
}
.header .container{
  display: flex;
  justify-content: space-between;
}
a:hover {
  /** Disables Bootstrap's default underline-on-hover behavior. */
  text-decoration:none ;
}
.site-logo{
  padding:0 5px;
}
.article-link, .related-articles li{
  flex-basis: 50%;
  border:solid white 2px;
}
.article {
  background-size: cover;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 5px;
  height: 0;
  background-repeat: no-repeat;
  padding-bottom: 52.356%;
  position: relative;
}

.scrim-top {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.54)), to(rgba(0, 0, 0, 0.0)));background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.0));background: -o-linear-gradient(top, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.0));background: linear-gradient(to bottom, rgba(0, 0, 0, 0.54), rgba(0, 0, 0, 0.0));
  width:100%;
  height: 60%;
  position: absolute;
  top:0;
  z-index: 1000;
}
.scrim-bottom {
  width: 100%;
  height: 40%;
  position: absolute;
  bottom: 0;
  z-index: 1000;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.0)), to(rgba(0, 0, 0, 0.33)));background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.33));background: -o-linear-gradient(top, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.33));background: linear-gradient(to bottom, rgba(0, 0, 0, 0.0), rgba(0, 0, 0, 0.33));
}
.article-title {
  font-weight: bold;
  font-size: 22px;
  color: white;
  letter-spacing:normal;
  position: absolute;
  top: 12%;
  left: 12%;
  right: 12%;
  z-index:1000;
  margin: 0;
}

.article-subtitle {
  font-family: 'Muli', sans-serif;
  font-weight: normal;
  color: white;
  font-size: 8px;
  letter-spacing: 1px;
  position: absolute;
  bottom: 25%;
  left: 12%;
  z-index:1000;
  margin:0;
}

/** Container widths correspond to Bootstrap theme. */

.amp-container {
  /* Offset parent's (.container) padding so the document is rendered full-bleed. */
  margin: 0;
}
.amp-container-hide{
  display:none;
}
.loading{
  text-align: center;
}
.loading img{
  position: fixed;
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  }
.subscribe{
  margin: 7px 5px;
  display: flex;
}
.fixed{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100000;
  display: flex;
  justify-content: space-around;
  padding: 0;
  background-color: white;
}
.push-widget{
  position:fixed;
  bottom:0;
  left: 0;
  z-index: 10000;
  width: 100%;
  text-align: center;
  background-color:white;
}
/* html and css only toggle button */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {display:none;}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.push-widget-content{
  display: flex;
  background: white;
  font-size: 13px;
  justify-content: center;
  height: 100%;
  padding: 4px;
}
.push-widget-text{
  padding-right:10px;
  line-height:46px;
  font-size:10px;
}
.push-widget-content svg{
  margin-top: 12px;
  margin-right: 3px;
}



/* ========== Media Query ======== */

@media (min-width: 400px) {
  .push-widget-text{
    font-size:12px;
  }
  .article-title {
    font-size: 26px;
  }
  .post-title{
    font-size: 30px;
    margin: 20px 0px;
  }
  .post-content {
    font-size: 16px;
  }
  .post-content h1 {
    font-size: 28px;
  }
  .post-content h2 {
    font-size: 25px;
  }
  .post-content h3 {
    font-size: 20px;
  }
  .post-content h4 {
    font-size: 17px;
  }
  .edit-cart {
    width: 400px;
  }
  .wrap-shoppingCart{
    padding: 15px;
  }
  .wrapFoter{
    margin-top: 140px;
  }
}
/* MediaQuery 600 */
@media (min-width: 600px){
  .footer{
    display: flex;
  }
  .politicas{
    border:none;
  }
}
/* MediaQuery 768 */
@media (min-width: 768px) {
  .container {
    width: 750px;
}
.push-widget-text{
  font-size:14px;
}
.articles, .related-articles {
  display: flex;
  flex-wrap: wrap;
}
.article-title {
  font-size: 28px;
}
amp-web-push-widget{
  display:none;
}
.alert-info {
  padding: 10px;
  margin-bottom: 20px;
  font-size: 18px;
}
  .tag_post {
    flex-basis: 33%;
    flex-grow: 1;
  }
  .post-home_description {
    flex-direction: row;
  }
  .post-home_excerpt {
    margin-left: 10px
  }
  .post-content {
    font-size: 17px;
  }
  .post-title {
    font-size: 42px;
    margin: 30px 0px;
  }
  .post-content h1 {
    font-size: 30px;
  }
  .post-content h2 {
    font-size: 28px;
  }
  .post-content h3 {
    font-size: 22px;
  }
  .post-content h4 {
    font-size: 18px;
  }

  .site-nav {
    position: absolute;
    top: 9px;
    right: 15px;
    background-color: #fdfdfd;
    border: 1px solid #e8e8e8;
    border-radius: 5px;
    text-align: right;
  }
  .site-nav label[for="nav-trigger"] {
    display: block;
    float: right;
    width: 36px;
    height: 36px;
    z-index: 2;
    cursor: pointer;
  }
  .site-nav .menu-icon {
    display: block;
    float: right;
    width: 36px;
    height: 26px;
    line-height: 0;
    padding-top: 10px;
    text-align: center;
  }
  .site-nav .menu-icon>svg path {
    fill: #424242;
  }
  .site-nav input~.trigger {
    clear: both;
    display: none;
  }
  .site-nav input:checked~.trigger {
    display: block;
    padding-bottom: 5px;
  }
  .site-nav .page-link {
    display: block;
    padding: 5px 10px;
    margin-left: 20px;
  }
  .site-nav .page-link:not(:last-child) {
    margin-right: 0;
  }
  .wrap-shoppingCart{
    padding: 20px;
  }
  .edit-cart{
    right: auto;
  }
}

/* Container */

@media (min-width: 900px){
  .page-content {
    width: 970px;
  }
}

@media (min-width: 992px){
  .container {
      width: 970px;
  }
}
@media (min-width: 1200px){
  .container {
    width: 1170px;
}
  .page-content{
      width: 1170px;
  }
  .footer{
    width: 1170px;
  }
  .tienda-title {
    font-weight: bold;
    color: black;
  }
}





