{% capture srcdoc %}
<style>
    body{
        margin: 0;
    }
    .warning {
      background-color: #fcf8e3;
      border-color: #faebcc;
      color: #8a6d3b;
      font: 14px;
    }
</style>
<div class="warning">
  <i class="fa fa-exclamation-circle fa-2" aria-hidden="true"></i>
  <b>
    ⚠️ &nbsp; <i>Por favor tenga esto en mente cuanto este recorriendo los senderos </i>
  </b>
  <ul>
    <li>Trata de no dejar rastro.</li>
    <li>Recuerda no dejar basura en los senderos.</li>
    <li>Disfruta de lo que encuentras y dejalo tal cual lo encontraste (toma solo fotos, deja solo las huellas de tus pisadas).</li>
    <li>Minimiza el impacto de tus fogatas.</li>
    <li>Respeta la vida silvestre.</li>
    <li>Se amable con los demas visitantes.</li>
  </ul>
</div>
{% endcapture %}
<figure class="op-interactive">
    <amp-iframe 
    sandbox="allow-scripts  allow-popups"
    srcdoc='{{ srcdoc }}'
    layout="fixed-height"
    height="300">
    </amp-iframe>
</figure>

    
