<figure class="op-interactive">
  <iframe
    src="https://www.youtube.com/embed/{{ videoid }}"
    title="{{ caption | default: 'Video de Rutas de los Andes' }}"
    class="rda-embed"
    width="{{ width |  default: 480 }}"
    height="{{ height |  default: 480 }}"
    loading="lazy"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen>
  </iframe>
  {% if caption %}
  <figcaption>{{ caption }}</figcaption>
  {% endif %}
</figure>
