* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.contents {
  /** Prevents fixed-top navbar from overlapping site contents. */
  padding-top: 56px;
}
body {
  margin: 0;
}
.header .container{
  display: flex;
  justify-content: space-between;
}
a:hover {
  /** Disables Bootstrap's default underline-on-hover behavior. */
  text-decoration:none !important;
}
