---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post-improve">
    <a href="{{ site.github }}/{{ page.path }}"><i>✏️</i> &nbsp; Cualquier ayuda es bienvenida!! 🙌🏼 mejora este post</a>
  </div>
  <header class="post-header">
    <h1 class="post-title" itemprop="name headline">{{ page.title | escape }}</h1>
    <p class="post-meta">
      <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
        {% assign date_format = site.minima.date_format | default: "%b %-d, %Y" %}
        {{ page.date | date: date_format }}
      </time>
      {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author.name }}</span></span>
      {% endif %}</p>
  </header>

  <div class="post-content" itemprop="articleBody">
    <div class="warning">
      <i class="fa fa-exclamation-circle fa-2" aria-hidden="true"></i>
      <b>
        ⚠️ &nbsp; <i>Por favor tenga esto en mente cuanto este recorriendo los senderos </i> Por favor tenga esto en mente cuanto este recorriendo los senderos </i>
      </b>
      <ul>
        <li>trata de no dejar rastro</li>
        <li>deshacerse apropiadamente de la basura</li>
        <li>Disfruta de lo que encuentras y dejalo tal cual lo encontraste (toma solo fotos, deja solo las huellas de tus pisadas)</li>
        <li> Minimiza el impacto de tus fogatas </li>
        <li>Respeta la vida silvestre</li>
        <li>Se considerado con los demas visitantes</li>
      </ul>
    </div>
    {{ content }}
  </div>
</article>

